.smartpay {
  overflow: hidden;
  scroll-behavior: smooth;
}

.top {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: bg_change 1s ease-out forwards 2.2s;
  }

  .bg{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index:1;
    background:url('/img/smartpay/smart03.jpg') no-repeat center / cover;
    animation: bg_fade 0.5s ease-out forwards 2.7s;
    opacity: 0;
    width:100%;
    height:100%;
    transform: scale(1.2);

    video{
      height:100%;
    }
  }

  .scrolldown{
    position: absolute;
    bottom:50px;
    z-index:3;
    display:flex;
    flex-direction: column;

    &:hover{
      cursor: pointer;
    }

    .v-icon{
      color:#fff;
    }
    label{
      color:#fff;
      margin-top:5px;
    }
  }

  @keyframes bg_fade {
    100%{
      opacity: 1;     
    }
  }


  @keyframes bg_change {
    0% {
      border-radius: 99999px;
      width: 100px;
      height: 100px;
    }
    90%{
      width:3000px;
      height:3000px;
    }
    100% {
      width: 100%;
      height: 100%;
      background:rgba(0,0,0,0.85);
    }
  }

  h4 {
    position: relative;
    z-index: 3;
    padding:0 5px;
    animation: textColor 0.5s forwards 2s;
    strong{
      font-size: 32px;
      position: relative;
      z-index:2;
      font-weight:500;
    }
    span{
      position: absolute;
      z-index:1;
      left:0px;
      width:0px;
      height:15px;
      bottom:0px;
      background:rgba(0,71,238,0.2);
      animation: highlight 1s forwards 3s;
    }
    
  }

  @keyframes highlight {
    100%{
      width:100%;
      background:rgba(0,71,238,1)
    }
  }

  p{
    position: relative;
    text-align:center;
    z-index:3;
    font-size:24px;
    line-height:1.6;
    color:#898989;
  }

  @keyframes textColor {
    100%{
      color:#fff;
    }
  }


  #smartpay {
    position: relative;
    z-index: 3;
    display: Flex;
    justify-content: center;
    path {
      stroke-width: 5px;
      stroke: #000;
      fill: transparent;
      font-size: 20vh;
      font-weight: 900;
    }

    path:nth-child(1) {
      animation: stroke-ani 2s ease forwards, fill 0.5s ease forwards 2s;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
    }
    path:nth-child(2) {
      animation: stroke-ani 2s ease forwards 0.4s, fill 0.5s ease forwards 2s;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
    }
    path:nth-child(3) {
      animation: stroke-ani 2s ease forwards , fill 0.5s ease forwards 2s;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
    }
    path:nth-child(4) {
      animation: stroke-ani 2s ease forwards 0.4s, fill 0.5s ease forwards 2s;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
    }
    path:nth-child(5) {
      animation: stroke-ani 2s ease forwards , fill 0.5s ease forwards 2s;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
    }
    path:nth-child(6) {
      animation: stroke-ani 2s ease forwards 0.4s, fill 0.5s ease forwards 2s;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
    }
    path:nth-child(7) {
      animation: stroke-ani 2s ease forwards, fill 0.5s ease forwards 2s;
      stroke-dasharray: 700;
      stroke-dashoffset: 700;
    }
    path:nth-child(8) {
      animation: stroke-ani 2s ease forwards 0.4s, fill 0.5s ease forwards 2s;
      stroke-dasharray: 800;
      stroke-dashoffset: 800;
    }
  }

  @keyframes stroke-ani {
    100% {
      stroke-dashoffset: 0px;
    }
  }

  @keyframes fill {
    100% {
      fill: #fff;
      stroke-width: 0;
    }
  }

  .price {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 15px;

    dl {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: #f2f2f2;
      border-radius: 10px;
      padding: 0 30px;
      height: 80px;
      dt {
        margin-bottom: 4px;
      }
      dd {
        font-size: 24px;
        font-weight: 700;
        color: #0047ee;
      }
    }
  }

  .tip {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    gap: 10px;
    font-size: 14px;
    span {
      display: block;
      color: #898989;
    }
  }
}

section {
  padding: 160px 50px;

  .title {
    h2 {
      font-size: 2.5em;
      line-height: 1.25;
      font-weight: 600;
    }

    p {
      margin-top: 20px;
      font-size: 1.25em;
    }
  }

  .row {
    padding: 0;
    margin: 0;
  }
  .col-12 {
    margin: 0;
    padding: 0;
  }
}

section.section_1 {
  .visual {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;

    img {
      object-fit: cover;
      width: 100%;
      height: 600px;
    }

    .text {
      position: absolute;
      left: 0;
      bottom: 0;
      padding: 50px;
      font-size: 3.125em;
      font-weight: 600;
      color: #fff;
      line-height: 1.2;
    }

    .black {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(253, 187, 45, 0) 100%
      );
    }
  }
  .inner {
    margin-top: 150px;
  }
  .title {
    margin-bottom: 70px;
    p {
      margin-top: 20px;
    }
  }

  .row {
    margin: -15px;
    .col-12 {
      padding: 15px;
      img {
        border-radius: 15px;
        width: 100%;
      }
      p {
        text-align: left;
        margin-top: 30px;
        font-size: 1.125em;
      }
    }
  }
}

section.section_2 {
  padding: 100px 25px;
  background: #f8f8f8;
  .inner {
    border-radius: 15px;

    dl {
      display: flex;
      align-items: center;
      justify-content: space-between;
      dt {
        font-size: 2.5em;
        font-weight: bold;
        line-height: 1.2;
        b {
          display: block;
          color: #0047ee;
        }
      }
      dd {
        display: flex;
        align-items: center;
        gap: 20px;
        
        span{
          display:flex;
          flex-direction: column;
          gap:10px;
          align-items: center;
          img {
            max-height: 80px;
          }
        }
        
      }
    }
  }
}

section.section_3 {
  .title {
    text-align: left;
    margin-bottom: 100px;

    h2 {
      b {
        display: inline;
      }
    }
  }

  .row {
    margin: -40px;
  }

  .col-6 {
    padding: 40px;
  }
  dl {
    dt {
      background: #f2f2f2;
      padding: 10px;
      border-radius: 30px;
      img {
        object-fit: contain;
        object-position: bottom;
        width: 100%;
        border-radius: 20px;
      }
    }
    dd {
      text-align: center;
      margin-top: 25px;
      font-size: 1.125em;
      font-weight: 500;
    }
  }
}

section.section_4 {
  background: #edf1fd;
  border-radius: 30px;

  h2 {
    text-align: center;
    margin-bottom: 70px;
  }

  dl {
    text-align: center;
    margin-bottom: 30px;

    dt {
      .v-icon {
        font-size: 4rem;
        color: #0047ee;
      }
    }
    dd {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      strong {
        font-size: 1.25em;
      }
      span {
        font-size: 1em;
      }
    }
  }
}

section.section_5 {
  .title {
    text-align: center;
    margin-bottom: 100px;

    h2 {
      b {
        display: inline;
      }
    }
    p {
      font-size: 1.25em;
      margin-top: 15px;
    }
  }
  .row {
    margin: -50px;
  }
  .col-12 {
    display: flex;
    padding: 50px;
  }
  .text {
    align-self: center;
    h3 {
      font-size: 1.875em;
      line-height: 1.2;
    }
    p {
      font-size: 1.125em;
      margin-top: 10px;
    }
  }

  .image {
    flex: 1;
    img {
      object-fit: cover;
      height: 360px;
      border-radius: 30px;
      border: 1px solid #e2e2e2;
      width: 100%;
    }
  }
}

section.section_6 {


  .title {
    text-align: center;
    margin-bottom: 40px;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .v-btn {
      font-weight: 400;
      font-size: 1em;
      border: 2px solid #292929;
      height: 45px;
      padding: 0 20px;
    }

    .v-btn.active {
      color: #0047ee;
      border: 3px solid #0047ee;
    }
  }

  .descriptions {
    margin-top: 40px;
    margin-bottom: 70px;
    p {
      text-align: center;
      font-size: 1.125em;
      color: #292929;
    }
  }

  .v-carousel-item {
    box-shadow: none !important;
  }

  .image {
    margin: 0 auto;
    display: flex;
    justify-self: center;
    overflow: hidden;
    border-radius: 30px;
    padding: 20px;
    background: #fff;
    max-height: 600px;
    border: 1px solid #e2e2e2;
    width: 90%;

    img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      border-radius: 15px;
      border: 1px solid #c2c2c2;
    }
  }
}

.section_7 {
  .title {
    text-align: center;
    h1 {
      font-size: 7vw;
      font-weight: 900;
      color: #000;
      line-height: 1;
      margin-bottom: 15px;
      b {
        color: #0047ee;
      }
    }
    h3 {
      font-size: 32px;
      span {
        background: linear-gradient(
          to top,
          rgba(0, 71, 238, 0.15) 50%,
          transparent 50%
        );
      }
    }
  }

  .visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;

    .image {
      position: relative;
      img {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 500px;
        animation: move3d 0.5s linear forwards;
      }

      span {
        display: Flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: 150px;
        height: 150px;
        border-radius: 75px;
        background: rgba(0, 71, 238, 0.15);
        animation: move 13s linear infinite;
        transform-origin: left bottom;
      }

      @keyframes move {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }

  .price_info {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      dl {
        text-align: center;
        dt {
        }
        dd {
          font-size: 36px;
          font-weight: 800;
          color: #0047ee;
        }
      }
    }

    p {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 40px;
      color: #898989;

      span {
        text-align: center;
        display: block;

        b {
          color: #ef1682;
        }
      }
    }

    .divider {
      height: 70px;
      width: 1px;
      background: #e2e2e2;
      margin: 0 50px;
    }
  }

  .btns{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:70px;

    .v-btn{
      height:70px;
      padding:0 50px;
      color:#fff;
      font-size:18px;
      background:#000;
      border-radius:100px;
      .v-icon{
        margin-left:10px;
      }
    }
  }
}

.section_8 {
  display:flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #292929;
  padding: 100px 20px;

  .bg{
    position: absolute;
    z-index:1;
    width:100%;
    height:100%;
    background:url('/img/kiosk-detail/slide02.jpg') no-repeat center / cover;
    filter:grayscale(1) opacity(0.1)
  }
  .inner{
    position: relative;
    z-index:2;
  }
  .title {
    text-align: center;
    margin-bottom: 70px;

    h2 {
      color: #fff;
      span{
        background: linear-gradient(to top, rgba(0,255,194,0.15) 50%, transparent 50% );
      }
      b {
        color: #00ffc2;
      }
    }
  }
  .row {
    margin: -20px;
  }
  .col-12 {
    padding: 20px;
    .benefit {
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      height: 100%;
      color: #fff;
      border: 3px solid #fff;
      padding: 30px;
      background: #191919;
      box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.8);

      strong {
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 20px;
      }
      span {
        font-size: 20px;

        b {
          color: #00ffc2;
        }
      }
    }
  }

  p{
    text-align:center;
    margin-top:50px;
    color:#fff;
  }

  
}

@media screen and (max-width: 960px) {

  .top{
    h4{
      strong{
        font-size:22px;
      }
      span{
        height:10px;
      }
    }

    .scrolldown{
      bottom:140px
    }

    #smartpay{
      margin:5px 0 20px 0;
    }

    p{
      font-size:14px;
    }
  }
  section {
    padding: 100px 20px;
    border-radius: 0;
  }

  section.section_1 {
    .visual {
      .text {
        font-size: 2.5em;
        padding: 15px;
      }
    }
    .inner {
      margin-top: 70px;
    }
  }

  section.section_2 {
    background: #f2f2f2;
    .inner {
      border: 0;
      border-radius: 0;

      dl {
        flex-direction: column;
        dt {
          text-align: center;
          b {
            display: inline-block;
          }
        }
        dd {
          margin-top: 30px;

          img {
            height: 60px;
          }
        }
      }
    }
  }

  section.section_3 {
    .row {
      margin: -10px;
      .col-6 {
        padding: 10px;
      }
    }
  }

  section.section_4 {
    border-radius: 0;
  }

  section.section_5 {
    .row {
      margin: -20px;
      margin-bottom: 70px;
    }
    .col-12 {
      padding: 20px;
    }
    .info_1,
    .info_3 {
      flex-direction: column-reverse;
    }
  }

  section.section_6 {
    background: #f2f2f2;
    .control {
      flex-wrap: wrap;
      gap: 10px;
    }
    .image {
      width: 100%;
      padding: 12px;
    }
  }

  section.section_7{
    .price_info {
      .row {
        dl {
          dd {
            font-size: 24px;
            font-weight: 800;
            color: #0047ee;
          }
        }
      }
  
      .divider {
        height: 50px;
        margin: 0 20px;
      }
    }
  }

}
